version: 2.1
jobs:
 build:
   machine: true
   steps:
     - checkout

     # build the application image
     - run: docker build -t govau/cga-cf-bosh-cli:$CIRCLE_BRANCH .

     # Test things in the image work
     - run: docker run -it --rm govau/cga-cf-bosh-cli:$CIRCLE_BRANCH terraform --version
     - run: docker run -it --rm govau/cga-cf-bosh-cli:$CIRCLE_BRANCH bosh --version
     - run: docker run -it --rm govau/cga-cf-bosh-cli:$CIRCLE_BRANCH ansible --version
     - run: docker run -it --rm govau/cga-cf-bosh-cli:$CIRCLE_BRANCH helm version --client
     - run: docker run -it --rm govau/cga-cf-bosh-cli:$CIRCLE_BRANCH svcat version --client
